#content{
  
  height: 100%;
  width: 100%;
}
.ag-layouts-header{
    min-height: 48px;
    height: 48px;
    display: flex;
}

.ag-layouts-content{
    border-top: 1px solid #dde2eb;
    border-top-color: var(--ag-secondary-border-color,#dde2eb);
}
.layoutspanel,.layoutspanel ul{
    width: 100%;
}
.gridsidebar_buttons button:disabled{
    color: #ccc !important;
}
.layout_active{
	background-color:#d3d3d3 !important;
	font-weight: 600;
}

.grid-title{
    color: #424242;
    margin: 0;
    padding: 0 15px;
}
.search-icon.e-input-group-icon,.search-icon.e-input-group-icon:hover{
    max-height:28px !important;
    height:28px !important;
    color:#000 !important;
    
}
#searchtext{{ $grid_id }}::placeholder,#searchtext{{ $grid_id }}::-webkit-input-placeholder,#searchtext{{ $grid_id }}::-moz-placeholder,#searchtext{{ $grid_id }}::-ms-input-placeholder{
color: #000 !important;
}
#searchtext{{ $grid_id }}{
    height:28px;
}
.e-toolbar .e-btn-group.e-outline{
    height:28px;
}
.e-toolbar .e-btn-group.e-outline{
    height:28px;
}
.e-input-group .e-input-group-icon, .e-input-group.e-control-wrapper .e-input-group-icon {
    min-height:22px !important;
}
#gridreports_{{ $grid_id }}{
    padding:0;
}
.communications-card{
    display: none;
}
.communications-card label{
width: 100%;
}
.ag-theme-alpine .ag-row .ag-cell {
  
    line-height: 26px !important;
}
.ag-theme-alpine .ag-row .ag-cell:not(.ag-cell-inline-editing) {
  
    padding-left: 1em !important;
}
.ag-theme-alpine .ag-layouts-content .e-menu-wrapper, .ag-layouts-content .e-menu{
    width: 100%;
}
.ag-theme-alpine .ag-layouts-content .e-listview{    
    padding: 0;
    margin: 0;
}
.ag-theme-alpine .ag-cell-numeric-right{
display: 'flex'; 
justify-content: 'flex-end';
}

/* grid highlight */

.bg-red {
    background-color: red important;       
}

.bg-orange {
    background-color: orange !important;    
}
.bg-pink {
    background-color: pink;
}
.bg-lightblue {
    background-color: lightblue;
}
.bg-lightgrey {
    background-color: lightgrey important;   
}
.bg-grey {
    background-color: #ccc;
}
.ag-theme-alpine .ag-side-buttons {
    padding-top: 0px !important;
}
.ag-theme-alpine button.ag-side-button-button {
    min-height:50px !important;
    
}
.ag-theme-alpine .ag-cell, .ag-theme-alpine .ag-full-width-row .ag-cell-wrapper.ag-row-group {
   
    line-height: 26px;
}


.ag-theme-alpine .ag-ltr .ag-right-aligned-cell {
    flex-direction: row-reverse;
}
.ag-theme-alpine .ag-cell-wrapper>:not(.ag-cell-value):not(.ag-group-value) {
    height: auto !important;
}
/*
.ag-theme-alpine .ag-cell, .ag-theme-alpine .ag-full-width-row .ag-cell-wrapper.ag-row-group {
 
    line-height: inherit !important;
}
*/
.ag-theme-alpine .ag-header-cell{
    border-right: 1px solid #babfc7;
}
.ag-theme-alpine .ag-cell-label-container{
    flex-direction: row !important;
}

.ag-theme-alpine .ag-header-cell:not(ag-right-aligned-header) .ag-cell-label-container .ag-header-cell-menu-button{
    margin-right: 5px;
}

.e-toolbar .grid-title{
  
    -ms-touch-action: text !important;
    touch-action: text !important;
    -webkit-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
    cursor: text;
    -webkit-tap-highlight-color: auto !important;
}



.ag-theme-alpine .ag-row-pinned{
    font-weight:bold;
}

/*
.mastergrid-focus .ag-body-viewport{
    background-color: #fff !important;
}
.mastergrid-focus .ag-details-grid .ag-body-viewport, .mastergrid-focus .ag-details-grid .ag-body-viewport .ag-row:not(.ag-row-selected){
    background-color: rgb(204 204 204 / 70%) !important;
}
.detailgrid-focus .ag-body-viewport, .detailgrid-focus .ag-body-viewport  .ag-row:not(.ag-row-selected){
    background-color: rgb(204 204 204 / 70%) !important;
}
.detailgrid-focus .ag-details-grid .ag-body-viewport, .detailgrid-focus .ag-details-grid .ag-body-viewport .ag-row:not(.ag-row-selected){
    background-color: #fff !important;
}
*/
.gridsearch{
    height:22px !important;
    line-height:26px !important;
}
.searchinputgroup .e-input-group{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.sidebarbtngroup{
height: 26px;
min-height: 26px;
}
/*
.report_mode .ag-row-footer{
    display: none !important;
}
*/