

.sidebar-menu, .sidebar-menu ul {
    border-color: rgba(0,0,0,.08);
  
    color: #fff !important;
    overflow: hidden;
}
.sidebar-menu .dock-menu .e-menu-wrapper, .sidebar-menu .dock-menu.e-menu-wrapper, .sidebar-menu .dock-menu.e-menu-wrapper ul>*, .sidebar-menu .dock-menu .e-menu-wrapper ul>* {
 
    color: #fff !important;
}

.sidebar-menu .e-menu-wrapper ul .e-menu-item .e-menu-url, .sidebar-menu .e-menu-container ul .e-menu-item .e-menu-url,
.sidebar-menu .e-menu-wrapper ul .e-menu-item .e-menu-icon, .sidebar-menu .e-menu-container ul .e-menu-item .e-menu-icon,
.sidebar-menu .e-menu-wrapper ul .e-menu-item .e-menu-icon::before, .sidebar-menu .e-menu-container ul .e-menu-item .e-menu-icon::before,
.sidebar-menu .e-menu-wrapper ul .e-menu-item .e-caret, .sidebar-menu .e-menu-container ul .e-menu-item .e-caret{
    color: #fff !important;
}
.sidebar-menu .e-menu-item .e-caret {
    line-height: 42px;
}

.sidebar-menu #hamburger:hover{
    color: #f58634 !important;
}
.sidebar-menu .e-menu-wrapper ul .e-menu-item:hover .e-menu-url, .sidebar-menu .e-menu-container ul .e-menu-item:hover .e-menu-url,
.sidebar-menu .e-menu-wrapper ul .e-menu-item:hover .e-menu-icon, .sidebar-menu .e-menu-container ul .e-menu-item:hover .e-menu-icon,
.sidebar-menu .e-menu-wrapper ul .e-menu-item:hover .e-menu-icon::before, .sidebar-menu .e-menu-container ul .e-menu-item:hover .e-menu-icon::before,
.sidebar-menu .e-menu-wrapper ul .e-menu-item:hover .e-caret, .sidebar-menu .e-menu-container ul .e-menu-item:hover .e-caret{
    color: #fff !important;
    background-color: #f58634 !important;
}

.sidebar-menu.e-dock.e-close .e-menu-item .e-menu-icon {
    font-size: 20px;
    padding: 0;
}
.sidebar-menu.e-dock.e-open .e-menu-item .e-menu-icon {
    font-size: 20px;
    padding: 0;
    margin: 0 15px 0 8px;
    float: left;
}

.sidebar-menu .e-anchor-wrap, .sidebar-menu .e-menu-text{
    height:42px !important;
}

.sidebar-menu .dock-menu.e-menu-wrapper ul .e-menu-item.e-focused,.sidebar-menu .dock-menu.e-menu-wrapper ul .e-menu-item:hover{
    color: #fff !important;
    background-color: #f58634 !important;
}


.dock-menu .e-menu-wrapper,
.dock-menu.e-menu-wrapper,
.dock-menu.e-menu-wrapper ul>*,
.dock-menu .e-menu-wrapper ul>* {
border-color: rgba(0,0,0,.08) !important;
color: #fff !important;
overflow: hidden;
}

.dock-menu.e-menu-wrapper ul .e-menu-item.e-focused,
.dock-menu .e-menu-wrapper ul  .e-menu-item:hover{
color: #fff !important;
background-color: #f58634 !important;
}

.dock-menu.e-menu-wrapper .e-ul .e-menu-item .e-menu-url,.dock-menu.e-menu-wrapper ul .e-menu-item .e-caret {
color: #fff !important;
}
.sidebar-menu.e-close #pricelistdiv{
    display:none;
}

.system-menu .e-menu-wrapper, .system-menu.e-menu-wrapper ul>* {
    background: lightgrey;
}
#adminheader,#admin_toolbar, #admin_toolbar .e-toolbar-items{
    background: lightgrey;
}


#adminheader,#app_toolbar, #app_toolbar .e-toolbar-items{
    background: lightgrey;
}

/*ajax sidebar*/
.e-dialog .e-dlg-content {
    padding: 0px;
}
.ajaxmenu li{
    text-align: center
}

.ajaxsidebar{
    margin-top:0px !important;
}
.modal_wrapper{
height:100%;    
}
        .main-content .content{height: 100% !important;}