erp/storage/logs/
erp/storage/framework/cache/
erp/storage/framework/views/
erp/storage/framework/laravel-excel/
erp/storage/porting_input/
erp/storage/porting_data/
erp/storage/debit_orders/
erp/storage/exports/
erp/storage/reports/
erp/instance_config/
erp/scheduler.log
erp/database/*.sqlite
erp/vendor
html/uploads/
html/attachments/
html/emails
html/pricing_exports/
html/uploads/
html/z_old/
erp/scheduler.log
zadmin/fnb_api
